{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Generalidades de la Presa Lateral N°3</h2>
    <br>
    <h3 class="text-center">Introducción</h3>
    <br>
    <p>El Aprovechamiento Hidroeléctrico El Cadillal comprende un conjunto de 4 presas de
materiales sueltos destinadas a lograr el cierre del vaso donde se aloja el embalse, una
Central Hidroeléctrica, una Estación Transformadora y una línea de alta tensión en 132 kV.
Todos estos elementos constituyen el conjunto de obras construidas a fin de obtener el
aprovechamiento integral de los caudales del Río Salí. La obra de cabecera está constituida
por la presa principal de materiales sueltos El Cadillal, de 85 m de altura máxima sobre la
fundación. Completan el cierre tres presas laterales de materiales sueltos.
        <p>La Presa Lateral N°3 <b>(PL3)</b> forma parte del sistema del Dique El Cadillal, diseñado para la regulación del caudal del río Salí. Su función es reforzar la contención lateral del embalse y minimizar las filtraciones. Tanto en las presas de tierra principal y lateral Nº 3, como en las estructuras de hormigón se
ha instalado una cantidad importante de dispositivos y de instrumentos de medición, los cuales permiten conocer la evolución de los principales parámetros de respuesta de cada una de las partes componentes de la obra.  En el caso particular de la Presa Nº 3 por sus características y antecedentes, los parámetros de vigilancia incluyen, además de los caudales de filtración al pie y aguas abajo, la determinación de deformaciones verticales, y el registro de niveles piezométricos y
freáticos en el espaldón y pie de presa. En este sentido, resulta de particular importancia el control sistemático de esta presa en función de poseer una altura significativa y de registrar antecedentes de importantes filtraciones no controladas a través de su fundación. Por estos
motivos, en el año 2007 agregaron puntos de nivelación en el coronamiento y en la zona cercana al pie de presa inmediatamente por encima del dren horizontal y se instaló un grupo de 4 piezómetros Casagrande, además de un freatímetro en pie de presa y otros 3 piezómetros Casagrande instalados en el año 2016.</p>
<br>
    <h3 class="text-center">Propósito de la Auscultación</h3>
    <br>
    <p>El correcto comportamiento de las presas es un asunto de suma importancia para la
seguridad de la población, el ambiente y las propiedades y bienes ubicados aguas abajo de
estas obras. Los registros obtenidos mediante los sistemas de auscultación son
fundamentales para poder analizar su comportamiento y evaluar su estado. El objetivo
fundamental será la detección temprana de anomalías, clasificación y activación de
inmediatos procedimientos de respuesta, tal como lo estipula el Plan de Acción Durante
Emergencias (PADE) del complejo. </p>
<br>
    <h3 class="text-center">Ubicación</h3>
    <br>
    <p>Ubicación geográfica del Complejo Hidroeléctrico El Cadillal: Provincia de Tucumán, Departamento de Tafí Viejo, Población mas cercana San Miguel de Tucumán, 28 km. </p>
        <p>Ubicación de la Presa Lateral N°3: La PL3 se encuentra en la margen derecha del embalse, adyacente a la presa principal. Su acceso se realiza a través del camino de servicio del dique.</p>
<br>
<div class="text-center">
        {% load static %}
        <img src="{% static 'img/aprovechamiento.webp' %}" alt="Aprovechamiento Dique El Cadillal" style="width: 50%; border-radius: 10px;">
        <br>
        <br>
        <img src="{% static 'img/mapa_cadillal.webp' %}" alt="Mapa" style="width: 50%; border-radius: 10px;">
    </div>
</div>
{% endblock %}