{% extends 'base.html' %}
{% load custom_filters %}
{% block title %}Tabla de Aforadores{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Tabla de Caudales</h2>
    <br>

    <!-- Filtro de Fechas -->
    {% include "filtro_fecha.html" %}

    <!-- Exportación -->
    <div class="d-flex justify-content-end mb-3">
        <a href="{% url 'export_aforador_excel' %}" class="btn btn-success mx-2">
            <i class="fas fa-file-excel"></i> <i class="fas fa-download"></i>
        </a>
        <a href="{% url 'export_aforador_pdf' %}" class="btn btn-danger">
            <i class="fas fa-file-pdf"></i> <i class="fas fa-download"></i>
        </a>
    </div>

    <!-- Tabla -->
    <div class="table-responsive mi-tabla" style="overflow: auto; max-height: 600px;">
        <table class="table table-bordered table-striped text-center table-hover mi-tabla-tabla">
            <thead class="table-dark mi-tabla-thead">
            <tr>
                <th>Fecha</th>
                <th>Nivel Embalse</th>
                {% for nombre in nombres_aforadores %}
                    {% if mostrar_edicion_columnas %}
                        <th colspan="2">{{ nombre }}</th>
                    {% else %}
                        <th>{{ nombre }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th>dd-mm-YYYY</th>
                <th>[msnm]</th>
                {% for nombre in nombres_aforadores %}
                    <th>Valor</th>
                    {% if mostrar_edicion_columnas %}
                        <th>Editar</th>
                    {% endif %}
                {% endfor %}
            </tr>
            </thead>

            <tbody>
            {{ filas_html|safe }}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
