{% extends 'base.html' %}
{% load custom_filters %}
{% block title %}Tabla de Freatímetros{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Tabla de Niveles Freáticos</h2>
    <br>

    <!-- Filtro de Fechas -->
    {% include "filtro_fecha.html" %}

    <!-- Exportación -->
    {% include "exportar.html" with url_export_excel=url_export_excel url_export_pdf=url_export_pdf %}

    <!-- Tabla -->
    <div class="table-responsive mi-tabla" style="overflow: auto; max-height: 600px;">
        <table class="table table-bordered table-striped text-center table-hover mi-tabla-tabla">
            <thead class="table-dark mi-tabla-thead">
                <tr>
                    <th>Fecha</th>
                    <th>Nivel Embalse</th>
                    {% for nombre in nombres_freatimetros %}
                        {% if mostrar_edicion_columnas %}
                            <th colspan="2">{{ nombre }}</th>
                        {% else %}
                            <th>{{ nombre }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <th>dd-mm-YYYY</th>
                    <th>[msnm]</th>
                    {% for nombre in nombres_freatimetros %}
                        <th>Valor</th>
                        {% if mostrar_edicion_columnas %}
                            <th>Editar</th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {{ filas_html|safe }}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
