{% extends 'base.html' %}
{% block title %}Freatímetro{% endblock %}
{% block body_id %}freatimetro-page{% endblock %}
{% block content %}
<header>
    <h1>Registrar Nivel Freático</h1>
</header>
<div class="form-container">
    <form method="POST" action="{% url 'freatimetro_guardar' %}" id="freatimetro-form">
        {% csrf_token %}
        <div class="form-group">
            {{ medicion_freatimetro_form.fecha.label_tag }} {{ medicion_freatimetro_form.fecha }}
        </div>
        {{ medicion_freatimetro_form.id_instrumento.label_tag }}
        {{ medicion_freatimetro_form.id_instrumento }}
        <div class="mb-3">
            <label for="lectura" class="form-label">Lectura:</label>
            <input type="number" id="lectura" name="lectura" class="form-control" step="0.01" required>
        </div>

        <div class="button-container">
            <button type="button" id="calcular-nf">Calcular</button>
        </div>
        <div id="resultado-nf">
            <h5>Nivel freático: <span id="valor-nf"></span></h5>
        </div>
        <input type="hidden" id="nivel_freatico" name="nivel_freatico">

        <div class="button-container">
            <button type="submit">Guardar</button>
        </div>
    </form>
</div>
{% endblock %}