{% extends 'base.html' %}
{% block title %}Aforador{% endblock %}
{% block body_id %}piezometro-page{% endblock %}
{% block content %}
    <header>
        <h1>Registrar Nivel Piezométrico</h1>
    </header>
        <div class="form-container">
        <form method="POST" action="{% url 'piezometro_guardar' %}" id="piezometro-form">
            {% csrf_token %}
            <div class="form-group">
            {{ medicion_piezometro_form.fecha.label_tag }} {{ medicion_piezometro_form.fecha }}
            </div>
            {{ medicion_piezometro_form.id_instrumento.label_tag }}
            {{ medicion_piezometro_form.id_instrumento }}
            <div class="mb-3">
                <label for="lectura" class="form-label">Lectura:</label>
                <input type="number" id="lectura" name="lectura" class="form-control" step="0.01" required>
            </div>

            <div class="button-container">
                <button type="button" id="calcular-np">Calcular</button>
            </div>

            <div id="resultado-np">
                <h5>Nivel piezométrico: <span id="valor-np"></span></h5>
            </div>
            <input type="hidden" id="nivel_piezometrico" name="nivel_piezometrico">

            <div class="button-container">
                <button type="submit">Guardar</button>
            </div>
        </form>
         </div>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
{% endblock %}