{% extends 'base.html' %}
{% load custom_filters %}
{% block title %}Tabla de Piezómetros{% endblock %}
{% block content %}
    <div class="container mt-4">
        <h2 class="text-center">Tabla de Niveles Piezométricos</h2>
        <!-- Botones de Exportación -->
        <div class="d-flex justify-content-end mb-3">
            <a href="{% url 'export_piezometro_excel' %}" class="btn btn-success mx-2">
                <i class="fas fa-file-excel"></i> Exportar Excel
            </a>
            <a href="{% url 'export_piezometro_pdf' %}" class="btn btn-danger">
                <i class="fas fa-file-pdf"></i> Exportar PDF
            </a>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped text-center">
                <thead class="table-dark">
                    <tr>
                        <th>Fecha</th>
                        <th>Nivel Embalse</th>
                        <th colspan="{{ nombres_piezometros|length }}">Instrumento - Nivel Piezométrico [msnm]</th>
                    </tr>
                    <tr>
                        <th>dd-mm-YYYY</th>
                        <th>[msnm]</th>
                        {% for nombre in nombres_piezometros %}
                            <th>{{ nombre }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for fecha in fechas %}
                        <tr>
                            <td>{{ fecha }}</td>
                            <td>{{ datos_tabla|key:fecha|key:"nivel_embalse"|default:"-" }}</td>
                            {% for nombre in nombres_piezometros %}
                                <td>
                                    {{ datos_tabla|key:fecha|key:nombre|default:"-" }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="{{ nombres_piezometros|length|add:2 }}" class="text-center">No hay mediciones registradas.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


