{% extends 'base.html' %}
{% load custom_filters %}
{% block title %}Tabla de Piezómetros{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Tabla de Niveles Piezométricos</h2>
    <br>

    <!-- Filtro -->
    {% include "filtro_fecha.html" %}

    <!-- Exportación -->
    <div class="d-flex justify-content-end mb-3">
            <a href="{% url 'export_piezometro_excel' %}" class="btn btn-success mx-2">
                <i class="fas fa-file-excel"></i> <i class="fas fa-download"></i>
            </a>
            <a href="{% url 'export_piezometro_pdf' %}" class="btn btn-danger">
                <i class="fas fa-file-pdf"></i> <i class="fas fa-download"></i>
            </a>
    </div>

    <!-- Tabla -->
    <div class="table-responsive mi-tabla" style="overflow: auto; max-height: 600px;">
        <table class="table table-bordered table-striped text-center table-hover mi-tabla-tabla" style="vertical-align: middle;">
            <thead class="table-dark mi-tabla-thead">
            <tr>
                <th>Fecha</th>
                <th>Nivel Embalse</th>
                <th colspan="{{ nombres_piezometros|length }}">Instrumento - Nivel Piezométrico [msnm]</th>
            </tr>
            <tr>
                <th>dd-mm-YYYY</th>
                <th>[msnm]</th>
                {% for nombre in nombres_piezometros %}
                <th>{{ nombre }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for fila in filas_tabla %}
            <tr>
                <td>{{ fila.fecha }}</td>
                <td>{{ fila.nivel_embalse }}</td>
                {% for valor in fila.valores %}
                    <td>
                        {% if valor != "-" %}
                            {{ valor.valor }}
                            {% if request.user.groups.all.0.name != "Invitado" and request.user.groups.all.0.name != "Técnico" %}
                                <a href="{% url 'editar_medicion' id=valor.id %}" class="ms-1 text-muted" style="font-size:0.65rem;">
                                    <i class="fas fa-pen" style="color:#bcbcbc;"></i>
                                </a>
                            {% endif %}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% empty %}
            <tr>
                <td colspan="{{ nombres_piezometros|length|add:2 }}" class="text-center">No hay mediciones registradas.</td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}


