{% extends 'base.html' %}
{% block title %}Tabla de Embalse{% endblock %}
{% block content %}
    <div class="container mt-4">
        <h2 class="text-center">Tabla de Niveles de Embalse y Precipitaciones</h2>
        <br>

        <!-- Filtro de Fechas -->
        {% include "filtro_fecha.html" %}

        <!-- Exportación -->
        <div class="d-flex justify-content-end mb-3">
            <a href="{% url 'export_embalse_excel' %}" class="btn btn-success mx-2">
                <i class="fas fa-file-excel"></i> <i class="fas fa-download"></i>
            </a>
            <a href="{% url 'export_embalse_pdf' %}" class="btn btn-danger">
                <i class="fas fa-file-pdf"></i> <i class="fas fa-download"></i>
            </a>
        </div>

        <!-- Tabla -->
        <div class="table-responsive mi-tabla" style="overflow: auto; max-height: 600px;">
            <table class="table table-bordered table-striped text-center table-hover mi-tabla-tabla">
                <thead class="table-dark mi-tabla-thead">
                    <tr>
                        <th>Fecha [dd-mm-YYYY]</th>
                        <th>Nivel Embalse [msnm]</th>
                        <th>Editar</th>
                        <th>Precipitación[mm]</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fila in datos_tabla %}
                        <tr>
                            <td>{{ fila.fecha }}</td>
                            <td>{{ fila.nivel_embalse }}</td>
                            <td>{% if fila.embalse_id %}<a href="{% url 'editar_embalse' fila.embalse_id %}" class="ms-1 text-muted" style="font-size:0.65rem;"><i class="fas fa-pen" style="color:#bcbcbc;"></i></a>{% endif %}</td>
                            <td>{{ fila.precipitaciones }}</td>
                            <td>{% if fila.precipitacion_id %}<a href="{% url 'editar_precipitacion' fila.precipitacion_id %}" class="ms-1 text-muted" style="font-size:0.65rem;"><i class="fas fa-pen" style="color:#bcbcbc;"></i></a>{% endif %}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6" class="text-center">No hay datos disponibles en este rango.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

