<!-- Filtro -->
<div class="filtro" style="margin-bottom: 20px; max-width: 700px;">
<form method="GET" class="d-flex justify-content-center align-items-center flex-wrap">
    <div class="col-md-auto m-2">
        <label for="fecha_inicio" class="form-label">Desde:</label>
        <input type="date" id="fecha_inicio" name="fecha_inicio" value="{{ fecha_inicio }}" class="form-control">
    </div>
    <div class="col-md-auto m-2">
        <label for="fecha_fin" class="form-label">Hasta:</label>
        <input type="date" id="fecha_fin" name="fecha_fin" value="{{ fecha_fin }}" class="form-control">
    </div>
    <div class="col-md-auto m-2">
            <button class="boton"><i class="fas fa-filter"></i> Filtrar</button>
    </div>
    <div class="col-md-auto m-2">
        <a href="{{ request.path }}" class="btn btn-secondary"><i class="fas fa-times"></i> Limpiar</a>
    </div>
</form>
</div>
<style>
                    .filtro{
                        color:black;
                        background: rgba(255, 255, 255, 0.70);
                        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                        margin: auto;
                        border-radius: 8px;
                    }
                    .boton {
                        background-color: #004c95;
                        color: white;
                        border: none;
                        padding: 10px 20px;
                        border-radius: 20px;
                        cursor: pointer;
                        transition: background-color 0.3s ease;
                    }

                    .boton:hover {
                        background-color: #0057AAFF;
                        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
                    }
                    .btn-secondary{
                        padding: 10px 20px;
                        border-radius: 20px;
                    }
                </style>