{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Gráficos Predefinidos</h2>
    <br>

    <div class="form-container" style="color:black; text-align:center;">
        <form method="post" action="{% url 'predefinidos_grafico' %}">
        {% csrf_token %}
        <label for="grafico">Selecciona un gráfico:</label>
            <br>
        <select name="grafico_seleccionado" id="grafico">
            {% for key, value in graficos.items %}
                <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>
        <br><br>
        <div style="text-align: center; ">
                <button class="boton">Graficar</button>
                <style>
                        .boton {
                            background-color: #004080;
                            color: white;
                            border: none;
                            padding: 10px 20px;
                            border-radius: 20px;
                            cursor: pointer;
                            transition: background-color 0.3s ease;
                        }

                        .boton:hover {
                            background-color: #0057AAFF;
                            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
                        }
                    </style>
                </div>
    </form>

    </div>
    <br>
    {% if grafico %}
        <div>{{ grafico|safe }}</div>
    {% endif %}
</div>
{% endblock %}